:root{
    --colorGrisClaro:#f2f0eb;
    --colorGrisAside:##e5e2da;
    --colorGris:gray;
    --colorNegro: #000000;
    --colorBlanco: #ffffff;
    --FuentePrincipal: 'Libre Baskerville', serif;
    --FuenteSecundaria: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit; 
}
body {
    font-size: 1.5rem;
    line-height: 2;
    font-family: var(--FuenteSecundaria);
    background-color: var(--colorGrisClaro);
}
img {
    max-width: 100%;
    display: block;
}
h1{
    font-family: var(--FuentePrincipal);
    font-size: 2.5rem;
    margin: 0;
    font-weight: 400;
}
h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 8rem;
}
h3{
    font-size: 1.7rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
/*layout*/
.grid-container {
    display: grid;
    grid-template-areas: 
        "header header "
        "sidebar contenido "
        "footer footer ";
}
/*Nav*/
.nav-flex {
    grid-area: header;
    background-color: var(--colorNegro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}
.nav-flex a {
    text-decoration: none;
    color: var(--colorBlanco);
}
.logo-svg{
 width: 3rem;
}
/*Principal*/
.contenido-principal {
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 6rem;
    padding: 8rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    border-radius: .3rem;
    background-color: var(--colorBlanco);
    box-shadow: 2px 4px 10px rgba(102, 102, 102, 0.2);
}
.btn{
    color:var(--colorBlanco);
    background-color: var(--colorNegro);
    text-transform: uppercase;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    padding: 1rem 5rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.btn:hover{
     transform: scale(1.1, 1.1);
     transition: 0.3s;
}
/*Menu Lateral*/
.aside {
    grid-area: sidebar;
    min-width: 25rem;
    background-color: #e5e2da;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    /* box-shadow: 2px 4px 10px rgba(102, 102, 102, 0.2); */
}
.aside a{
    display: block;
    text-decoration: none;
    color: var(--colorNegro);
    padding: 1rem 4rem;
    border-bottom: 1.5px solid var(--colorGrisClaro);
}
.aside h2{
    padding-left: 4rem;
}
.aside span{
    color: var(--colorGris);
}
.footer {
    grid-area: footer;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
/*Utilitarias*/
.bold{
    font-weight: 600;
}
.m-0{
    margin: 0;
}